.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  color: var(--color-black);
}
.location {
  font-size: 1.2rem;
  font-weight: bold;
}
.sidebar {
  position: fixed;
  width: 50%;
  height: 100%;
  right: 0;
  background-color: rgba(10, 10, 10, 0.8);
  z-index: 1;
  border-top-left-radius: 0.8rem;
  border-bottom-left-radius: 0.8rem;
}
.closeSidebar {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: white;
  font-weight: 700;
  font-size: 2rem;
  cursor: pointer;
}
.sidebarMenus {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
}
.sidebarButton {
  border: 1px solid gray;
  padding: 0.5rem 1rem;
  font-weight: 500;
  font-size: 1rem;
  margin: 0.1rem 0;
}
.topRight {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.themeMode {
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  background-color: rgba(54, 100, 162, 0.3);
}
