.sidebar {
  position: fixed;
  width: 40%;
  height: 100%;
  right: 0;
  background-color: var(--color-sidebar);
  z-index: 1;
  border-top-left-radius: 0.8rem;
  border-bottom-left-radius: 0.8rem;
}
.closeSidebar {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  color: white;
  font-weight: 700;
  font-size: 2rem;
  cursor: pointer;
}
.sidebarMenus {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
}
.sidebarButton {
  border: 1px solid gray;
  padding: 0.5rem 1rem;
  font-weight: 500;
  font-size: 1rem;
  margin: 0.1rem 0;
}

.themeFilter,
.unitFilter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: rgba(54, 100, 162, 0.3);
  margin: 0.1rem 0rem;
}
.text {
  color: white;
  font-weight: 700;
  font-size: 1rem;
}

.title {
  margin-top: 2rem;
  text-align: center;
  color: white;
}
.hr {
  background-color: white;
  font-weight: 500;
  height: 0.2rem;
  margin: 0.5rem 0;
}
.button {
  width: 100%;
  border: none;
  padding: 0.6rem 1rem;
  font-weight: 500;
  font-size: 1rem;
  background-color: var(--color-primary);
  color: white;
}
.button:hover {
  color: white;
  background-color: gray;
}

@media (max-width: 320px) {
}
@media (max-width: 480px) {
}
@media (max-width: 768px) {
  .sidebar {
    width: 80%;
  }
}
@media (max-width: 1024px) {
}
@media (max-width: 1200px) {
}
