* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  background: linear-gradient(to bottom right, #c7dfff, 80%, rgb(146, 97, 205));
}
